{% set url = request.getURI().getPath() %}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul id="side-menu" class="nav metismenu">
            <li class="nav-header">
                {% if session.get('user')|length %}
                    <div class="dropdown profile-element text-center">
                    <span>
                        <img class="img-circle" width="60px" src="{{ session.get('user')['avatar'] }}" alt="image">
                    </span>
                    <div class="space-5"></div>
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <span class="clear">
                            <span class="text-muted text-xs block">
                                {{ session.get('user')['name'] }}
                            </span>
                        </span>
                    </a>
                    </div>
                {% endif %}
            </li>
            <li class="{{ request.getURI().getPath() == '/' ? 'active' : '' }}">
                <a href="/">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">{{ t('Home') }}</span>
                </a>
            </li>
            <li class="{{ 'reports' in url ? 'active' : '' }}">
                <a href="#">
                    <i class="fa fa-user-circle"></i>
                    <span class="nav-label">{{ t('Izvestaji') }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" style="">
                    <li class="{{ 'reports/report-1' in url ? 'active' : '' }}">
                        <a href="/clients/list">
                            <i class="fa fa-list"></i>
                            <span class="nav-label">{{ t('Izvestaj 1') }}</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-second-level collapse" style="">
                    <li class="{{ 'reports/report-2' in url ? 'active' : '' }}">
                        <a href="/clients/list">
                            <i class="fa fa-list"></i>
                            <span class="nav-label">{{ t('Izvestaj 2') }}</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-second-level collapse" style="">
                    <li class="{{ 'reports/report-3' in url ? 'active' : '' }}">
                        <a href="/clients/list">
                            <i class="fa fa-list"></i>
                            <span class="nav-label">{{ t('Izvestaj 3') }}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="{{ 'user/profile' in url ? 'active' : '' }}">
                <a href="/user/profile">
                    <i class="fa fa-user-plus"></i>
                    <span class="nav-label">{{ t('Account Settings') }}</span>
                </a>
            </li>
            {% if isAllowed(session.get('user')['id'], '/user/management') %}
            <li class="{{ 'user/management' in url ? 'active' : '' }}">
                <a href="/user/management">
                    <i class="fa fa-users"></i>
                    <span class="nav-label">{{ t('User Management') }}</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
